#briefing-text {
    background-color: rgba(0, 0, 0, 0.85);
    margin: auto;
    color: white;
    width: 95%;
    overflow: auto
}

#description {
    margin: 10px;
    margin-right:0px;
    color: #9ec8d6;
    font-family: 'Pirata One', cursive;
    font-size: 22px;
}

.briefing-title {
    font-size: 32px;
}

.briefing-description {
    margin-left: 10px;
}

#map {
    float: right;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.button {
    position: absolute;
    top: 35%;
    left: 42%;
    color: red;
    font-family: 'Pirata One', cursive;
    background-color: rgba(37, 57, 64, 0.70);
    border: 3px;
    font-size: 32px;
    border-radius: 4px;
}

#position1 {
    position: absolute;
    top: 525px;
    left: 1575px;
    color: red
}

#buttonposition {
    position: absolute;
    left: -45%;
    font-size: 22px;
    font-family: 'Luckiest Guy', cursive;
}

#position2 {
    position: absolute;
    top: 550px;
    left: 1415px;
    color: red;
}

#position3 {
    position: absolute;
    top: 475px;
    left: 1215px;
    color: red;
}

#position4 {
    position: absolute;
    top: 385px;
    left: 1350px;
    color: red;
}

#position5 {
    position: absolute;
    top: 365px;
    left: 1710px;
    color: red;
}

#position6 {
    position: absolute;
    top: 300px;
    left: 1550px;
    color: red;
}

#position7 {
    position: absolute;
    top: 160px;
    left: 1250px;
    color: red;
}