#backbutton {
    border: solid 3px;
    width: 100px;
    height: 45px;
    background-color: #ed404c;
    border-radius: 15px;
    border-color: #ed404c;
    text-align: center;
    color: white;
    padding: 6px;
}

#back {
    margin-left: 3%;
}

#backbutton:hover {
    background-color: red;
}

#container {
    margin: 2% 3%;
}

#herostatus {
    width: 21%;
    height: 550px;
    float: left;
}

#backpack {
    width: 8%;
    height: 550px;
    float: left;
    margin-left: 6px;
}


#herostatus, #actionmenu, #monsterstatus, #backpack, #mission_number {
    border: solid 3px;
    border-color: #448aa2;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    padding: 15px;
    color: #9ec8d6;
}

#actionmenu {
    width: 40%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    border: dotted 2px;
    background-color: rgba(0, 0, 0, 0.9);
}

#monsterstatus {
    width: 25%;
    height: 550px;
    float: right;
    border-color: #990000;
    position: relative;
}

#mission_number {
    margin-top: 40px;
    width: 400px;
    text-align: center;
    margin: auto;
    border-color: #245775;
    font-family: 'Belleza', sans-serif;
    font-size: 23px;
}

#avatar {
    border: solid 2px;
    border-color: #448aa2;
    width: 84px;
    height: 84px;
    float: left;
    position: relative;
}

.leftmargin {
    margin-left: 100px;
    font-size: 24px;
    font-family: 'Skranji', cursive;
}

#character_details {
    font-family: 'Poller One', cursive;
    font-size: 16px;
    position: absolute;
    margin-top: 40px;
    margin-left: 0px;
}
.item_pic {
    position: relative;
    border: 3px solid #9ec8d6;
}

.pic_quantity {
    text-align: center;
    position: absolute;
    width: 25px;
    margin: -30px 36px;
    font-size: 18px;
    color: white;
    background-color: #9ec8d6;
    font-family: 'Neuton', serif;
}

#backpack_details {
    font-family: 'Poller One', cursive;
    font-size: 16px;
}

.rightmargin {
    text-align: right;
    color: #990000;
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Skranji', cursive;
}

#monster_description {
    position:absolute;
    bottom:0;
    right:0;
    color: #990000;
    margin: 30px;
    font-size: 24px;
    font-family: 'Srisakdi', cursive;
    font-weight: 1000;
}

#basicaction {
    color: white;
    height: 75px;
    width: 50%;
    margin: auto;
    border-radius: 15px;
    padding: 15px;
}



#attackbutton {
    float: left;
    padding: 10px 20px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    margin-right: 10px;
    background-color: red;
    font-family: 'Luckiest Guy', cursive;
    font-size: 22px;

}
#attack{
    border: solid 0px;
    background-color: red;
    color: white;
}

#defendbutton {
    margin-left: 60%;
    padding: 10px 20px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    background-color: blue;
    font-family: 'Luckiest Guy', cursive;
    font-size: 22px;
}
#defend{
    border: solid 0px;
    background-color: blue;
    color: white;
}

#actiontext {
    position: relative;
    color: white;
    border: solid 3px;
    border-color: white;
    height: 125px;
    width: 90%;
    margin: 0px auto;
    background-color: black;
    border-radius: 25px;
    padding: 15px;
    font-family: 'Londrina Solid', cursive;
}

#tothebottom {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

#specialaction {
    position: relative;
    height: 330px;
}

#specialattackbox {
    position: absolute;
    margin: 4% 40%;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    text-align: center;
    width: 300px;
}

#special {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    text-align: left;
    margin-left: 15px;

}

#specialattack {
    border: solid 3px;
    border-color: #448aa2;
    float: left;
    margin-right: 20px;
}

#special_description{
    font-size: 16px;
    text-align: left;
    font-family: 'Belleza', sans-serif;
    margin-top: 25px;

}

.tothebottom {
    position: absolute;
    bottom: 0;
}

#wonbutton {
    padding: 5px 5px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    margin-right: 10px;
    background-color: green;
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    margin: auto;
    height: 60px;
}
#won {
    border: solid 0px;
    background-color: green;
    color: white;
    margin-top: 5px;
}

#lostbutton {
    padding: 5px 5px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    margin-right: 10px;
    background-color: #c9c749;
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    margin: auto;
    height: 60px;
}
#lost {
    border: solid 0px;
    background-color: #c9c749;
    color: white;
    margin-top: 5px;
}

.endfight {
    color: #db2a68;
    text-align: center;
    font-family: 'Belleza', sans-serif;
    font-size: 44px;
}